* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
button {
  margin-right: 20px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #1888ff, #000000);
  background-size: 400% 400%;
  animation: bg-animation 20s ease infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.login-button {
  font-size: 1.2rem;
  padding: 6px 14px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #0062cc;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #1888ff, #000000);
  background-size: 400% 400%;
  animation: bg-animation 20s ease infinite;
}

.login-screen {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.create-date-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.create-date-container.app {
  max-width: 600px;
  margin: 100px;
}

.info-text {
  font-size: 24px;
  color: #ffffff;
  background-color: #252525;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 45%;
  max-width: 600px;
  margin: 100px;
}

/* .info-text:hover {
  animation-name: reduceMargin;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
} */

.inner-text {
  margin-top: 30px;
  font-size: 16px;
}

/* @keyframes reduceMargin {
  from {
    margin-top: 250px;
  }
  to {
    margin-top: 120px;
  }
} */

.content {
  z-index: 1;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 70px;
}

.home-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.signup-form {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 35rem;
  width: 100%;
}

.signup-title {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.signup-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}

.signup-label {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.login-label {
  display: flex;
  align-items: center;
}

.signup-input {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 3rem;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #f8f8f8;
}

.signup-button {
  background-color: #1888ff;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  height: 3rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-button:hover {
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #1888ff;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  transition: all 0.3s ease-out;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
